
<!doctype html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctor Directory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/transitions.css">
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/angular-carousel.css">   


    <!--<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>-->
</head>
<body ng-app = "myApp">
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--************************************
                        Wrapper Start
        *************************************-->
        
            <!--************************************
                            Header Start
            *************************************-->
            <header id="header" class="tg-haslayout" ng-controller = "pharmacyCenterNotificationController">
                <div  class="navbar-header top-navbar-dashboard" ng-controller="topHeaderController">
                    <div style="width: 77%;margin: 0 auto;padding: 0px 5px">
                        <div style="" class="menu-drp">                        
                            <i class="fa fa-bars" aria-hidden="true" style="color:#fff;font-size:23px;font-weight:100; cursor:pointer" title="Menu" ng-click="isClicked()"></i>
                            <ul> <!--ng-class="{'drp-list': drop}"-->
                                <li><a href="#/find-specialist">Find a doctor</a></li> <!-- /user/find-specialist -->                         
                                <li><a href="#/drug">Find Drug</a></li><!--/user/find-drug -->
                                <li><a href="#/scan-search">Find Scan</a></li><!--/user/find-scan-test-->
                                <li class="no-bottom"><a href="#/search-test">Find Test</a></li> <!--/user/find-lab-test-->                                              
                            </ul>
                            <a href="/user/logout" style="color:red;font-size:18px">logOut</a>
                            <!--<button ng-click="print()">Print voucher</button>-->                 
                        </div>
                       
                       
                        <div style="width:65%; text-align:right;display:inline-block" ng-controller = "createRoomController">
                            <div class="msg-box">
                                 <i class="fa fa-bell noti-bell" style="font-size:20px"><span style="display:inline-block;background-color:#996b88;border-radius:14px;padding:7px;left: 14px; top:-14px;position:absolute;color:#fff;font-size:12px;border:none" ng-if="noteLen > 0 " ng-cloak>{{noteLen}}</span></i>

                                 <ul class="all-notify app-drp">

                                    <li> <h6 style="text-align: center">Notification(s)</h6> </li>                                    
                                    <li><button style="color:green;" ng-click = "addAllNote()">Add all notifications to attendance list </button></li>
                                    <li ng-repeat = "note in allNote" style="text-align: left" class="note-list-li" ng-click="viewNote(note.ref_id)">
                                       <img src="{{note.sender_profile_pic_url}}" style="width: 32px; height:32px">
                                        <aside>
                                            <p>{{note.sender_firstname}} {{note.sender_lastname}}
                                                <span>{{note.message}}</span>
                                                <span>{{note.sent_date}}</span>
                                            </p>                                                 
                                        </aside>                                                
                                    <li>

                                 </ul>
                            </div>
                            <!--<div class="msg-box">
                                <i class="fa fa-envelope" aria-hidden="true" style="font-size:20px;color:#fff;position:relative;top:4px;cursor:pointer">
                                <span style="display:inline-block;background-color:#996b88;border-radius:14px;padding:7px;left: 14px; top:-14px;position:absolute;color:#fff;font-size:12px;border:none" ng-if=" msgLen > 0 " ng-cloak> {{msgLen}}</span></i>

                                <ul class="all-notify app-drp">
                                    <li> <h6 style="text-align: center">Message(s)</h6> </li>
                                    <li ng-repeat = "msg in allMsg" class="msg-drp-list" ng-click= "viewMessage(msg.user_id,msg.message_id)" ng-if="msg.category !== 'need_doctor'">                                        
                                        <img ng-src="{{msg.profile_pic_url}}" style="width: 32px; height: 32px">
                                        <div>
                                            <div style="padding:5px 0;font-size:12px;">{{msg.date | date: "mediumDate"}} &nbsp;&nbsp;{{msg.date | date: "mediumTime"}}</div>                   
                                            <strong style="padding-left:0px;font-size:12px;">{{msg.title}} {{msg.firstname}} {{msg.lastname}}</strong>                      
                                            <em style="font-size:12px;">{{msg.message}}</em>
                                        <div>                                        
                                    </li>
                                    <li ng-repeat = "msg in allMsg" class="msg-drp-list" ng-click= "viewResponse(msg.user_id,msg.complaint_id)" ng-if="msg.category === 'need_doctor'">                                        
                                        <img ng-src="{{msg.doctor_profile_pic_url}}" style="width: 32px; height: 32px">
                                        <i class="fa fa-user-md" style="font-size: 32px"></i>
                                        <div>
                                            <small style="display:block;text-align: left">Ref {{msg.complaint_id}}&nbsp;&nbsp;&nbsp;&nbsp;{{msg.date | date: "mediumDate"}}</small>                  
                                            <em>{{msg.message}}</em>
                                        <div>                                        
                                    </li>

                                    <% for(var i = userInfo.patient_mail.length -1; i >= 0; i--) { %>                                                          
                                        <div>{{getData("<%= userInfo.patient_mail[i].doctor_firstname%>","<%= userInfo.patient_mail[i].doctor_lastname %>","<%= userInfo.patient_mail[i].date %>","<%= userInfo.patient_mail[i].doctor_profile_pic_url %>","<%= userInfo.patient_mail[i].consultation_fee %>","<%= userInfo.firstname %>","<%= userInfo.ewallet.available_amount %>","<%= userInfo.patient_mail[i].doctor_id %>","<%= userInfo.patient_mail[i].service_access %>","<%= userInfo.patient_mail[i].doctor_specialty %>","<%= userInfo.patient_mail[i].message %>")}}
                                        </div>                                                
                                            
                                    <% } %>
                                </ul>
                            </div>
                            <div class="msg-box">
                                <i class="fa fa-calendar" aria-hidden="true" style="font-size:20px;color:#fff;position:relative;top:4px;cursor:pointer"><span style="display:inline-block;background-color:#996b88;border-radius:14px;padding:7px;left: 14px; top:-14px;position:absolute;color:#fff;font-size:12px;border:none" ng-if="appLen > 0 " ng-cloak>{{appLen}}</span></i>
                                <ul class="all-notify app-drp">
                                    <li> <h6 style="text-align: center">Appointment(s)</h6> </li>
                                    <li ng-repeat = "app in allApp" class="msg-drp-list" ng-click= "viewAppointment(app.session_id)">                                       
                                        <img ng-src = "{{app.profilePic}}" style="width: 32px; height: 32px">
                                        <div>                   
                                            <span>{{app.title}} {{app.firstname}} {{app.lastname}}</span>                      
                                            <em>Hi, you have an appointment with me.</em>
                                        <div>                                        
                                    </li>                                                         
                                </ul>
                            </div>
                            <div class="msg-box">
                                <i class="fa fa-video-camera" aria-hidden="true" style="font-size:20px;color:#fff;position:relative;top:4px;cursor:pointer"><span style="display:inline-block;background-color:#996b88;border-radius:14px;padding:7px;left: 14px; top:-14px;position:absolute;color:#fff;font-size:12px;border:none" ng-if="videoLen > 0 " ng-cloak>{{videoLen}}</span></i>
                                <ul class="all-notify app-drp">
                                    <li> <h6 style="text-align: center">Video Call Notification</h6> </li>
                                    <li ng-repeat = "call in holdVideoCallResponse" class="msg-drp-list" ng-click= "viewVideoAppointment(call.message_id)">
                                        <div>                 
                                            <span>From :  {{call.title}} {{call.firstname}} {{call.lastname}}</span>                      
                                            <em>Hi, your {{call.type}} was granted! conversation holds in less than {{call.time}} minutes.Hang on!</em>
                                        <div>                                        
                                    </li>                                                         
                                </ul>
                            </div>
                           <div class="msg-box">
                                <i class="fa fa-phone" aria-hidden="true" style="font-size:20px;color:#fff;position:relative;top:4px;cursor:pointer"><span style="display:inline-block;background-color:#996b88;border-radius:14px;padding:7px;left: 14px; top:-14px;position:absolute;color:#fff;font-size:12px;border:none" ng-if="<%= userInfo.appointment.length %> > 0 " ng-cloak>{{audioLen}}</span></i>
                                <ul class="all-notify app-drp">
                                    <li> <h6 style="text-align: center">Audio Call Notification</h6> </li>
                                    <li ng-repeat = "call in holdAudioCallResponse" class="msg-drp-list">                                      
                                        
                                        <div>
                                                     
                                            <span>From :  {{call.title}} {{call.firstname}} {{call.lastname}}</span>                      
                                            <em>Hi, you have {{call.type}} appointment with me by <strong>{{call.time}} minutes</strong></em>
                                        <div>                                        
                                    </li>                                                         
                                </ul>
                            </div>-->
                            <div class="profile-drp">                            
                                <img src="<%= userInfo.profile_pic_url %>" style="width: 32px; height: 32px; border-left: 1px solid grey;border-bottom: 1px solid grey;border-top: 1px solid grey;box-shadow:0px 2px 4px grey;cursor:pointer">
                                <strong style="color:#fff;font-weight: 500;padding: 5px 10px 5px 5px;border-right:2px solid rgba(200,220,220,0.3);border-radius: 2px"><%= userInfo.name %> !</strong>
                                <strong style="color:#fff;font-weight: 100;padding: 5px">ID <%= userInfo.user_id %></strong>
                                <ul>
                                    <li><a href="#/edit-picture"> Change profile picture </a></li>
                                    <li><a href="#/pharmacy-edit-profile">Edit profile</a></li>                                    
                                    <li ng-click="logout()">Logout</li>
                                </ul>
                            </div>                            
                        </div>
                    </div>
                </div>
            </header>
        <!--************************************
                Header End
        *************************************-->
        <!--************************************
                Home Slider Start
        *************************************-->
       
        <!--************************************-->
        <main id="main" class="tg-main-section tg-haslayout" style="padding-top:0;">
            <div class="container-fluid" style="padding:0;margin:0;overflow-x:hidden" ng-controller="pharmacyCenterDashboardController">                
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right" ng-controller="balanceController">
                        <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <h5 style="color:#000;text-align:righ">Pharmacy Dashboard</h5>                            
                                </div>
                                <div class="col-xs-7 col-md-7 col-lg-7">                            
                                    <h5>
                                        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 22px;color:#81a51e"></i>
                                        <a href="#/help" style="color:#000;font-size:18px;padding-right: 40px;text-decoration:underline">Need help?</a>
                                <i class="fa fa-user-md" style="font-size: 22px;color:#81a51e"></i> <a href="#/need-specialist" style="color:#000;font-size: 18px;padding: 0px;text-decoration:underline">Find patient prescription</a>
                                        <span style="color:#000;float:right;font-size:12px">Available balance | <em style="font-size: 18px">{{balance}}</em></span>
                                    </h5>                          
                                    
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-11 col-lg-11">                                
                                <div class="view-animate-container row" >  
                                    <div class="view-animate" ng-view >
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"  style="padding:0;">
                        <aside id="tg-sidebar" style="padding-left: 15px;background-color:#397432">

                             <div class="tg-widget tg-tab-widget" ng-controller="checkingOutPatientController">
                                <h3>Attendance list</h3>                                
                                <div>
                                    <ul style="max-height: 600px; overflow-x: auto;background-color:#d2ed88;padding-left:20px">
                                        <li style="margin-bottom: 10px"><input type="text" ng-model="person.pharmacy.patient_lastname" placeholder="Filter by name, Date or Ref No"></li>
                                        <li ng-repeat="person in attendanceList | filter: person.pharmacy.patient_lastname || person.pharmacy.patient_firstname || person.pharmacy.date || person.pharmacy.ref_id" style="list-style: none; margin-bottom: 10px; border-bottom: 1px dashed rgba(0,0,0,0.3);padding-bottom: 5px; cursor:pointer" ng-click="viewNote(person.ref_id)">
                                            <img ng-src="{{person.pharmacy.patient_profile_pic_url}}" style="width:32px; height:32px"/>
                                            <span style="display:inline-block; margin-left:10px; font-weight:bold">{{person.pharmacy.patient_firstname}}  {{person.pharmacy.patient_lastname}} </span>                                            
                                        </li>
                                    </ul>
                                </div>                                
                            </div>

                            <div class="tg-widget tg-widget-accordions" style="padding-left: 15px;background-color:#131f11">
                                
                                <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="background-color:inherit">                                    
                                    <li class="panel panel-default">
                                        <div class="tg-panel-heading" role="tab" id="headingThree">
                                             <h3 class="panel-title" style="border-bottom: 1px solid rgba(0,0,0,0.3)">
                                                <i class="icon-Pills icon-style" title="View all prescriptions" style="color:#fff;"></i>
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:#fff; font-size: 22px;">Stock</a>
                                            </h3>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">                                                
                                                <a href="#/pharmacy/drug-service/update" style="text-indent:20px;color:#d2ed88">Update drug stock</a> 
                                            </div>
                                        </div>
                                    </li>

                                    <!-- change all to angularjs -->                                                                 
                                    
                                    <li class="panel panel-default">
                                        <div class="tg-panel-heading" role="tab" id="headingFour">
                                             <h3 class="panel-title" style="border-bottom: 1px solid rgba(0,0,0,0.3)">
                                                <i class="fa fa-money" style="color:#fff;font-size: 32px"></i>
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseFour" aria-expanded="false" aria-controls="collapseThree" style="color:#fff ;font-size: 21px"> &nbsp;PAYMENT & WALLET</a>
                                            </h3>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">                                                
                                                <p><a href="#/wallet" style="text-indent:20px;color:#d2ed88">Fund wallet</a></p>
                                                <p><a href="#/transfer" style="text-indent:20px;color:#d2ed88">Transfer fund</a></p>
                                                <p><a href="#/cash-out" style="text-indent:20px;color:#d2ed88">Cash out</a></p>
                                                <p><a href="#/transactions" style="text-indent:20px;color:#d2ed88">View Transactions</a></p>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div><!-- main content -->
            
        </main>
        


        
        <!--************************************
                Main End
        *************************************-->
        <!--************************************
                Footer Start
        *************************************-->
        <footer id="footer" class="tg-haslayout">
            <div class="tg-footerbar tg-haslayout">
                <div class="tg-copyrights">
                    <p>2015 All Rights Reserved © DocDirect</p>
                </div>
            </div>
        </footer>
        <!--************************************
                Footer End
        *************************************-->
    </div>
    <!--************************************
            Wrapper End
    *************************************-->
    <!--************************************
        Sign In Sign Up Light Box Start
    *************************************-->
        <div class="modal fade tg-user-modal" tabindex="-1" role="dialog">
        <div class="tg-modal-content">
            <ul class="tg-modaltabs-nav" role="tablist">
                <li role="presentation" class="active"><a href="#tg-signin-formarea" aria-controls="tg-signin-formarea" role="tab" data-toggle="tab">sign in</a></li>
                <li role="presentation"><a href="#tg-signup-formarea" aria-controls="tg-signup-formarea" role="tab" data-toggle="tab">sign up</a></li>
            </ul>
            <div class="tab-content tg-haslayout">
                <div role="tabpanel" class="tab-pane tg-haslayout active" id="tg-signin-formarea">
                    <form class="tg-form-modal tg-form-signin">
                        <fieldset>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group tg-checkbox">
                                <label>
                                    <input type="checkbox" class="form-control">
                                    Remember Me
                                </label>
                                <a class="tg-forgot-password" href="#">
                                    <i>Forgot Password</i>
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </div>
                            <button class="tg-btn tg-btn-lg">LOGIN now</button>
                        </fieldset>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane tg-haslayout" id="tg-signup-formarea">
                    <form class="tg-form-modal tg-form-signup">
                        <fieldset>
                            <div class="form-group">
                                <span class="select">
                                    <select>
                                        <option>Doctor one</option>
                                        <option>Doctor two</option>
                                        <option>Doctor three</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="select">
                                    <select>
                                        <option>Specialty*</option>
                                        <option>Specialty two</option>
                                        <option>Specialty three</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ZIP Code">
                            </div>
                            <div class="form-group tg-checkbox">
                                <label>
                                    <input type="checkbox" class="form-control">
                                    I agree with the terms and conditions
                                </label>
                            </div>
                            <button class="tg-btn tg-btn-lg">Create an Account</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="question.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h6 style="color: #000; font-size: 12px;text-align: center">{{message}}</h6> 
                    <div class="col-md-9 col-lg-9">
                    <h6 style="margin-top: 50px;text-align:center">What symptom are you experiencing?</h6>
                    </div>
                    <div class="col-md-3 col-lg-3">
                    
                    <img ng-src="{{docInfo.profile_pic_url}}" style="width:100px; height:100px"/>
                    </div>
                </div>
                </h6>               
              </div>
              <div class="modal-body">                                                   
                    <form class="tg-form-modal tg-form-signin">                        
                            <fieldset>
                                <caption>Describe in summary your illness</caption>
                                <div>
                                    <textarea style="height: 300px; color: black" placeholder="write.." ng-model="patient.message"></textarea>
                                </div>
                        <button class="tg-btn tg-btn-lg" ng-click="getAnswer('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Get answer</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     <script type="text/ng-template" id="request.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h6 style="text-align: center; color: #000; font-size: 12px">{{message}}</h6>
              </div>
              <div class="modal-body">
              <h6 style="text-align: center">You want to send Consultation request 
                <span style="display:block;margin-top: 20px">To</span> 
                </h6> 
                                                                              
                    <form class="tg-form-modal tg-form-signin" style="text-align: center">                        
                            <fieldset>
                            <img ng-src="{{docInfo.profile_pic_url}}" style="width:150px; height:150px;margin-bottom: 20px;margin-top:-10px"/>
                            <h6>Dr. {{docInfo.firstname}} {{docInfo.lastname}}</h6>
                            <span style="display:block;margin-top: -10px; margin-bottom:20px">{{docInfo.specialty}}</span>
                            <p>Note: consultation fees will apply if your request is granted. </p>                                 
                        <button class="tg-btn tg-btn-lg" ng-click="sendRequest('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Continue</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     <script type="text/ng-template" id="insuficient-fund.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>                
              </div>
              <div class="modal-body">
                <h4>Sorry! we could not continue with your booking</h4>
                <h5 style="font-size: 18px; font-weight: 100">Reason:</5>
                <p style="font-size: 12px; color:#000">You do not have enough fund in your wallet to pay for the doctors consultation fee</p>
                <h5 style="font-size: 18px; font-weight: 100">Details:</5>
                <p style="font-size: 12px;color:#000">Your wallet available amount: <em style="font-size:18px">{{walletAmount | currency }}</em></p>
                <p style="font-size: 12px;color:#000">Consultation fee billed to pay: <em style="font-size:18px">{{consultationFee | currency}}</em></p>

                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Go ahead to fund wallet now</button>
              </div>
              <div class="modal-footer">               
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id='selected-drug-not-have.html'>
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              </div>              
              <div class="modal-body"> 
                  <article > 
                    Based on your selection, the drugs(s) below are not 
                    available in your center
                  </article>
                  <ol>
                    <li ng-repeat="drug in selectedDrugs">{{drug.name}}</li>
                  </ol>          
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="goBack()" class="btn btn-primary" data-dismiss="modal">No,go back</button>
                <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Yes,save</button>              
              </div>
            </div>
          </div>
        </div>
     </script>

    <!--************************************
        Sign In Sign Up Light Box End
    *************************************-->
        
        <script src="/assets/js/vendor/jquery-library.js"></script>        
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>         
        <script type="text/javascript" src="/assets/js/source.js"></script>
        <script type="text/javascript" src="/assets/js/angularclient.js"></script>
        <script type="text/javascript" src="/assets/js/ngroute.js"></script>
        <script src="/assets/js/angular-clipboard.js"></script>
        <script src="/assets/js/ngresource.js"></script>        
        <script src="/assets/js/socket.min.js"></script>        
        <script src="/assets/js/jquery-ui.js"></script>
        <script src="/assets/js/map/jquery.gomap.js"></script>
        <script src="/assets/js/map/markerclusterer.min.js"></script>
        <script src="/assets/js/countdown.js"></script>
        <script src="/assets/js/jquery.nicescroll.js"></script>
        <script src="/assets/js/parallax.js"></script>
        <script src="/assets/js/owl.carousel.js"></script>
        <script src="/assets/js/prettyPhoto.js"></script>
        <script src="/assets/js/appear.js"></script>
        <script src="/assets/js/countTo.js"></script>
        <script src="/assets/js/map/map.js"></script>
        <script src="/assets/js/angularAnimate.js"></script>
        <script src="/assets/js/modalService.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/angular-touch.min.js"></script>
        <script src="/assets/js/angular-carousel.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/angular-moment.min.js"></script>
        <script src="/assets/js/ui-bootstrap-tpls.js"></script>

   <!--<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>-->

       <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
</body>
</html>