<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Applinic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/assets/css/my-edit.css">
        <!--<link rel="stylesheet" href="/assets/css/bootstrap.css">-->
        <link rel="stylesheet" href="/assets/css/vendor.css">
         <link rel="stylesheet" href="/assets/css/app.css">
          <link rel="stylesheet" href="/assets/css/now-ui-kit2.css">
          <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
          <style>
              .title{
                  font-weight: 300;
              }
          </style>
    </head>

    <body ng-app="myApp">
                    <nav class="header" style="height:70px; margin-top:-.5em; z-index:1000;" ng-controller = "pharmacyCenterNotificationController">
                           <div class="brand" style="margin-left:3em;">
                                <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> Applinic </div>
                    <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
                <i class="fa fa-bars"></i>
            </button>
                         </div>
                             <div class="header-block header-block-search hidden-sm-down">
                        
                        <form role="search">
                            <div class="input-container"> <i class="fa fa-search"></i> <input type="search" placeholder="Search">
                                <div class="underline"></div>
                            </div>
                        </form>
                    </div>
                   
                    <div class="header-block header-block-nav" ng-controller = "createRoomController">
                        <ul class="nav-profile" ng-controller="topHeaderController">
                            <li class="notifications new"> <a href="" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <sup>
                      <span class="counter" ng-if="noteLen > 0 " ng-cloak>{{noteLen}}</span>
                    </sup>
                    </a>
                                <div class="dropdown-menu notifications-dropdown-menu">
                                    <ul class="notifications-container">
                                        <li> <h6 style="text-align: center">Notification(s)</h6> </li>                                        
                                         <li><button style="color:green;" ng-click = "addAllNote()">Add all notifications to attendance list </button></li>
                                        <li ng-repeat = "note in allNote">

                                            <a href="" class="notification-item" ng-click="viewNote(note.ref_id)">
                                                <div class="img-col">
                                                    <div class="img" style="background-image: url({{note.sender_profile_pic_url}})"></div>
                                                </div>
                                                <div class="body-col">
                                                    <p> <span class="accent">{{note.sender_firstname}} {{note.sender_lastname}}</span> {{note.message}} <small class="accent"> &nbsp;&nbsp;{{note.sent_date | date: "mediumDate"}} &nbsp;&nbsp;{{note.sent_date | date: "mediumTime"}}</small>. </p>
                                                </div>
                                            </a>
                                        </li>                                        
                                    </ul>
                                    <footer>
                                        <ul>
                                            <li> <a href="">
                           
                                        </a> </li>
                                        </ul>
                                    </footer>
                                </div>
                            </li>

                                                 

                            <li class="profile dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                                                <div class="img" style="background-image: url(<%= userInfo.profile_pic_url %>)"> </div> 
                                                <span class="name">
                                  <%= userInfo.firstname %> <%= userInfo.name %>
                                </span> </a>
                                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1"> <a class="dropdown-item" href="#/edit-picture">
                                  <i class="fa fa-user icon"></i>
                                  Change Profile Picture
                                </a> <a class="dropdown-item" href="">
                                  <i class="fa fa-user icon"></i>
                                  <%= userInfo.user_id %>
                                </a> <a class="dropdown-item" href="#/pharmacy-edit-profile">
                                  <i class="fa fa-gear icon"></i>
                                  Edit Profile
                                </a>
                                                <div class="dropdown-divider"></div> <a href="" class="dropdown-item" href="" ng-click="logout()">
                                  <i class="fa fa-power-off icon"></i>
                                  Logout
                                </a> </div>
                            </li>

                             <li class="dropdown">
                                <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                    <i class="fa fa-cog" aria-hidden="true"></i> More
                                </a>
                                <div class="okd dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#/find-specialist">Find a Doctor</a>
                                    <a class="dropdown-item" href="#/drug">Find Drug</a>
                                    <a class="dropdown-item" href="#/scan-search">Find Scan</a>
                                    <a class="dropdown-item" href="#/search-test">Find Test</a>
                                   </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="clearfix"></div>
        <div class="main-wrapper">
             <div class="clearfix"></div>
              <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md" style="margin:-9px 0;">
       
    </nav>
    <!-- End Navbar -->
     <div class="clearfix"></div>
            <div class="app">
                <header class="container text-center" style="background:#fff; border-left:1px solid #f2f2f2; min-height:70px; line-height:70px; padding:5px;" ng-controller="pharmacyCenterDashboardController">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                       <ul class="nav nav-tabs" role="tablist">  
                          <li class="nav-item">
                            <a class="nav-link"  href="#/help" ><i class="fa fa-calender"></i>
                                <span style="color:red">Need help?</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="#/referred-patients" ><i class="fa fa-calender"></i>
                                        <span style="color:red">Find patient prescription</span></a>
                          </li>
                          
                        </ul>
                    </div>

         


                    <div class="col-md-4" ng-controller="balanceController">  
                        <a href="" class="btn btn-info btn-sm header-btn">
                            <i class="fa fa-money"></i>
                            <span>Available Balance |  {{balance}} </span>
                        </a>  
                    </div>
                </header>

                     <div class="clearfix"></div>

                <aside class="sidebar" style="top:.4em;"  ng-controller="checkingOutPatientController">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                           <!-- <div class="brand">
                                <div class="logo">  Applinic </div>-->
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">

                                 <li class="no-show"> <a href="">
                        
                                    <div class="img" style="background-image: url(<%= userInfo.profile_pic_url %>)"> </div> 
                                    <span class="name">
                      <%= userInfo.firstname %> <%= userInfo.name %>
                    </span>
                            <i class="fa arrow"></i>
                        </a>
                                    <ul>
                                  
                                         <li> <a href="#/edit-picture" > <i class="fa fa-user icon"></i> Change Profile Picture</a> </li>

                                  <li><a href=""> <i class="fa fa-user icon"></i> <%= userInfo.user_id %> </a> </li>

                                  <li>
                                     <a href="#/pharmacy-edit-profile"><i class="fa fa-gear icon"></i> Edit profile</a> </li>

                                    <li><a href="" ng-click="logout()"><i class="fa fa-power-off icon"></i> Logout </a>
                             </li>
                                    </ul>
                                </li>

                                
                                <li class="active"> <a href="">
                            <i class="fa fa-home"></i>Pharmacy Dashboard
                        </a> </li>

                        <li> 
                            <a href="">
                                <i class="fa fa-users"></i>Attendance list
                                <i class="fa arrow"></i>
                            </a>
                            <ul  style="max-height: 600px;overflow-y:auto">
                                <li style="text-align:center"><input type="text" ng-model="person.pharmacy.patient_lastname" placeholder="Name, Date or Ref No" style="border:none;width:80%;padding:15px"></li>
                                <li ng-repeat="person in attendanceList | filter: person.pharmacy.patient_lastname || person.pharmacy.patient_firstname || person.pharmacy.date || person.pharmacy.ref_id">
                                    <div class="img-col">
                                        <div class="img" style="background-image: url({{person.pharmacy.patient_profile_pic_url}})"></div>
                                    </div> 
                                    <a href="" ng-click="viewNote(person.pharmacy.ref_id,'list',person.newPatient)">                                    
                                        {{person.pharmacy.patient_firstname}}  {{person.pharmacy.patient_lastname}}
                                    </a> 
                                </li>
                            </ul>
                        </li>
                                                    
                        <li> 
                            <a href="">
                                <i class="fa fa-bar-chart"></i>Services
                                <i class="fa arrow"></i>
                            </a>
                            <ul>
                                <li> 
                                    <a href="#/pharmacy/drug-service/update">
                                        Update services
                                    </a> 
                                </li>
                            </ul>
                        </li>

                        <li> 
                            <a href="">
                                <i class="fa fa-file-text-o"></i> PAYMENT & WALLET
                                <i class="fa arrow"></i>
                            </a>
                            <ul>
                                <li> 
                                    <a href="#/wallet">
                                        Fund Wallet
                                    </a> 
                                </li>

                                <li> 
                                    <a href="#/transfer">
                                    Transfer funds
                                    </a> 
                                </li>

                                 <li> 
                                    <a href="#/cash-out">
                                    Cash out
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#/transactions">
                                    View Transactions
                                    </a> 
                                </li>                                       
                            </ul>
                        </li>
                        <li> 
                            <a href="/contact">
                                <i class="fa fa-github-alt"></i> Contact Us
                            </a> 
                        </li>
                    </ul>
                </nav>
            </div>
         </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
      <div class="col-md-12">
<!-- Nav tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
      <div class="container">
    <div class="row">
        
         <div class="col-sm-12 col-md-11 col-lg-11">                                
            <div class="view-animate-container row" >  
                <div class="view-animate" ng-view >
                </div>
            </div>
        </div>              



    </div>
</div>
  </div>
 
 
</div>


                  </div>
                <footer class="footer bg-white text-muted">
                    <div class="footer-block buttons"> <iframe class="footer-github-btn" src="#" frameborder="0" scrolling="0" width="140px" height="20px"></iframe> </div>
                    <div class="footer-block author">
                        <ul>
                            <li>Applinic</a> </li>
                            <li> <a href="#">Contact Us</a> </li>
                        </ul>
                    </div>
                </footer>
                <div class="modal fade" id="modal-media">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                                <h4 class="modal-title">Media Library</h4>
                            </div>
                            <div class="modal-body modal-tab-container">
                                <ul class="nav nav-tabs modal-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a> </li>
                                    <li class="nav-item"> <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a> </li>
                                </ul>
                                <div class="tab-content modal-tab-content">
                                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                                        <div class="images-container">
                                            <div class="row"> </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                        <div class="upload-container">
                                            <div id="dropzone">
                                                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                    <div class="dz-message-block">
                                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Insert Selected</button> </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="confirm-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                                <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure want to do this?</p>
                            </div>
                            <div class="modal-footer"> <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- Reference block for JS -->
        
        <script src="/assets/js/vendor2.js"></script>
        <script src="/assets/js/app.js"></script>


        <script src="/socket.io/socket.io.js"></script>         
        <script type="text/javascript" src="/assets/js/source.js"></script>
        <script type="text/javascript" src="/assets/js/angularclient.js"></script>
        <script type="text/javascript" src="/assets/js/ngroute.js"></script>
        <script src="/assets/js/angular-clipboard.js"></script>
        <script src="/assets/js/ngresource.js"></script>        
        <script src="/assets/js/socket.min.js"></script>
         <script src="/assets/js/angularAnimate.js"></script>
        <script src="/assets/js/modalService.js"></script>
        <script src="/assets/js/ui-bootstrap-tpls.js"></script>
        <!--<script src="/assets/js/vendor/bootstrap.min.js"></script> -->


        <!--<script src="/assets/js/angular-touch.min.js"></script>-->
        <!--<script src="/assets/js/angular-carousel.js"></script>-->
            

        <script type="text/ng-template" id="question.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h6 style="color: #000; font-size: 12px;text-align: center">{{message}}</h6> 
                    <div class="col-md-9 col-lg-9">
                    <h6 style="margin-top: 50px;text-align:center">What symptom are you experiencing?</h6>
                    </div>
                    <div class="col-md-3 col-lg-3">
                    
                    <img ng-src="{{docInfo.profile_pic_url}}" style="width:100px; height:100px"/>
                    </div>
                </div>
                </h6>               
              </div>
              <div class="modal-body">                                                   
                    <form class="tg-form-modal tg-form-signin">                        
                            <fieldset>
                                <caption>Describe in summary your illness</caption>
                                <div>
                                    <textarea style="height: 300px; color: black" placeholder="write.." ng-model="patient.message"></textarea>
                                </div>
                        <button class="tg-btn tg-btn-lg" ng-click="getAnswer('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Get answer</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     <script type="text/ng-template" id="request.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h6 style="text-align: center; color: #000; font-size: 12px">{{message}}</h6>
              </div>
              <div class="modal-body">
              <h6 style="text-align: center">You want to send Consultation request 
                <span style="display:block;margin-top: 20px">To</span> 
                </h6> 
                                                                              
                    <form class="tg-form-modal tg-form-signin" style="text-align: center">                        
                            <fieldset>
                            <img ng-src="{{docInfo.profile_pic_url}}" style="width:150px; height:150px;margin-bottom: 20px;margin-top:-10px"/>
                            <h6>Dr. {{docInfo.firstname}} {{docInfo.lastname}}</h6>
                            <span style="display:block;margin-top: -10px; margin-bottom:20px">{{docInfo.specialty}}</span>
                            <p>Note: consultation fees will apply if your request is granted. </p>                                 
                        <button class="tg-btn tg-btn-lg" ng-click="sendRequest('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Continue</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     <script type="text/ng-template" id="insuficient-fund.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>                
              </div>
              <div class="modal-body">
                <h4>Sorry! we could not continue with your booking</h4>
                <h5 style="font-size: 18px; font-weight: 100">Reason:</5>
                <p style="font-size: 12px; color:#000">You do not have enough fund in your wallet to pay for the doctors consultation fee</p>
                <h5 style="font-size: 18px; font-weight: 100">Details:</5>
                <p style="font-size: 12px;color:#000">Your wallet available amount: <em style="font-size:18px">{{walletAmount | currency }}</em></p>
                <p style="font-size: 12px;color:#000">Consultation fee billed to pay: <em style="font-size:18px">{{consultationFee | currency}}</em></p>

                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Go ahead to fund wallet now</button>
              </div>
              <div class="modal-footer">               
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id='selected-drug-not-have.html'>
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              </div>              
              <div class="modal-body"> 
                  <article > 
                    Based on your selection, the drugs(s) below are not 
                    available in your center
                  </article>
                  <ol>
                    <li ng-repeat="drug in selectedDrugs">{{drug.name}}</li>
                  </ol>          
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="goBack()" class="btn btn-primary" data-dismiss="modal">No,go back</button>
                <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Yes,save</button>              
              </div>
            </div>
          </div>
        </div>
     </script>
    </body>

</html>